
.projectsContainer{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin-left: 10%;
}
.project{
    width: 100%;
    height: auto;
    background-color: rgb(184, 173, 173);
    border-radius: 20px;
    text-align: left;
    margin-bottom: 2rem;
}
.project img{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.project img:hover{
    transform: scale(1.01);
    transition: transform 0.2s;
}
.project a , .project p , .project h4 {
    margin-bottom: 5px;
    margin-left: 15px;
}
.project a{
   
    text-decoration: none;
    font-size: 19px;
    color: purple;
}.project a:hover{
    opacity: 0.7;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
 
  .modal-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: auto;
    height: auto;
  }
  
 
  .close {
    position: absolute;
    top: -10px;
    right: 5px;
    color: black;
    font-size: 30px;
    cursor: pointer;
  }
  
 
  .main-image {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    margin-bottom: 10px;
  }
  

  .thumbnails {
    display: flex;
    gap: 10px;
    width: 60vw;
    flex-wrap: wrap;
   
  }
  .icon{
    position: absolute;
    top: 40%;
    cursor: pointer;
    font-size: 20px;
  }
  .prev{
    left: 0;
  }
  .next{
    right: 0;
  
  }
  .thumbnails img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.2s;
  }
  
  .thumbnails img.active {
    border: 3px solid black;
    transform: scale(1.2);
  }
  


.all-projects{
    margin-top: 2rem;
}


@media (max-width: 767px){
    .thumbnails {
      
        width: 100vw;
        
       
      }
    .home-responsive{
        display: none;
    }
    .projectsContainer{
        grid-template-columns: 1fr;
    }
    .modal-content{
        width: 100%;
       
    }
    .thumbnails{
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) and (max-width: 1217px){
    .projectsContainer{
        grid-template-columns: 1fr 1fr;
    }
    .modal-content{
        width: 100%;
    }
    .thumbnails {
      
        width: 100vw;
        
       
      }
}
