.experience{
    width: 50%;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 30px;
    margin-top: 10px;
}
.experience-container{
    margin-top: 5rem;
}
.experience-container > h2{
    color: rgb(54, 54, 212);;
}

@media (max-width: 768px) {
    .experience{
        width: 90%;
    }
}
@media (min-width: 767px) and (max-width: 1217px) {
    .experience{
        width: 70%;
    }
}