
.navbar {
    background-color: white; /* Set background to white */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }


.scroll-link{
    margin-right: 20px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}